.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.footer {
  height: 33vh;
  bottom: 0;
}

.footer .foot-logo {

  width: 100%;
  height: 20vh;
  position: relative;
  background-color: rgba(255, 177, 60, 0.95);
  z-index: 3;
}
.footer .foot-logo span {
  font-size: 16px;
  letter-spacing: 4px;
}
.footer .foot-logo span:first-child {
  width: 38%;
  margin-right: 20px;
  margin-left: 12px;
  border-right: 4px solid rgba(255, 255, 255, 0.637);
}
.footer .foot-logo span:last-child {
  width:38%;
  font-size: 20px;
  padding-left: 9px;
  margin-left: 20px;
  margin-right: 12px;
  border-left: 4px solid rgba(255, 255, 255, 0.637);
}
.bottom-footer {
  position: relative;
  margin: 0 auto;
  padding: 0 8vw 0 8vw;
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 28vh;
  font-family: 'Spectral SC', serif;
}
ul, li, .links-text {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
